body {
    font-size: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#laconchadetumadreallboys {
    font-size: 12px;
}

h3 {
    font-style: oblique;
    font-weight: 200;
    font-size: x-large;
    border: 10px solid #5000ee;
    padding: 35px;
    margin-top: 20px;
    background-color: #de550e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
#Titulos :hover {
    background-color: black;
    color: white;
}

#elvi {
    color: blueviolet;
    font-size: 32px;
    font-weight: 200;
}